:root {
  /* Text styles */
  --header-font-family: 'poppins';
  --paragraph-font-family: 'montserrat';
  --tag-font-family: 'roboto mono';
  --card-fontsize-header-1: 14px;
  --description-fontsize-header-1: 32px;
  --description-fontsize-header-2: 16px;
  --description-fontsize-header-3: 12px;
  --description-fontsize-paragraph: 16px;
  --tag-fontsize: 10px;
  --rating-desciption-fontsize: 6px;
  --rating-card-fontsize: 12px;

  /* Color styles */
  --card-background-color: #fafafa;
  --tag-background-color: #f8f8f8;
  --tag-border-color: #e0e0e0;
  --rating-yellow-gradient: linear-gradient(to bottom, #e6cd53 16%, #ffe35a 51%, #e6cd53 88%);


  /* effect styles */
  --shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  --transition: 250ms ease;
}



/* Card in general */
/* Card */
.game-card {
  display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 16px;
background: var(--card-background-color);
box-shadow: var(--shadow);
}

/* Tags */
.tags {
  display: flex;
padding: 4px 8px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 16px;
border: 0.5px solid var(--tag-border-color);
background: var(--tag-background-color);
box-shadow: var(--shadow);
}

/* Øvre card */
.top-card {
width: 160px;
height: 160px;
border-radius: 16px 16px 0 0;
}

/* Rating på billede */
.rating-tag {
display: inline-flex;
padding: 4px 8px 4px 4px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 0 16px 16px 0;
background: var(--rating-yellow-gradient);
box-shadow: var(--shadow);
}

/* Aldersgrænse på billede */
.age-tag {
  display: inline-flex;
padding: 4px 12px 4px 8px;
justify-content: flex-end;
align-items: flex-start;
gap: 8px;
border-radius: 16px 0 0 16px;
background: var(--card-background-color);
}

/* Sværhedsgrad på billede */
.difficulty {
  display: inline-flex;
padding: 4px 8px 4px 4px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 0 16px 16px 0;
background: var(--card-background-color);
box-shadow: var(--shadow);
}

/* Billede af brætspil */
.game-image {
  width: 100%;
  object-fit: cover;
  background: var(--card-background-color);
  transition: var(--transition);
}

/* Nedre card */
.bottom-card {
  display: flex;
width: 160px;
padding: 4px 8px 8px 8px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
background: var(--card-background-color);
}

.card-titel {
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}

.tags {
display: flex;
padding: 4px 8px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 16px;
border: 0.5px solid var(--tag-border-color);
background: var(--card-background-color);
box-shadow: var(--shadow);
}