
/* FORSIDE */

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
}

/* Baggrundsbilledet */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/img/forsidebaggrund.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2; 
  z-index: 0;
}

.splash-screen {
  position: relative;
  z-index: 1; 
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1s ease;
}

.logo {
  width: 100px;
  opacity: 0;
  transform: scale(0.8);
  transition: transform 1.2s ease-out, opacity 1.2s ease-out;
}

.logo.animate {
  transform: scale(2.5);
  opacity: 1;
}


.splash-screen.fade-out {
  opacity: 0;
}
