
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
}

/* Baggrundsbilledet */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/forsidebaggrund.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: 0; 
}

.location {
  position: relative;
  z-index: 1; 
}


.location h2 {
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}


.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80px;
  background: #EBDFD7;
  color: #000;
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.25);
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}

.button:hover {
  background: #d8cfc3;
  transform: translateY(-2px);
}


footer {
    position: fixed;      
    bottom: 0;             
    left: 50%;            
    transform: translateX(-50%); 
    color: black;          
    padding: 10px 20px;   
    text-align: center;   
    font-size: 14px;       
}



/* fade-ind effekt */
.location {
  opacity: 0;                 /* starter skjult */
  transition: opacity 1s ease, transform 1s ease;
}

.location.fade-in {
  opacity: 1;                 /* bliver synlig */
}
